body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-style: solid;
  border-radius: 7px;
  padding: 10px;
  background-color: grey;
}

#screen {
  height: 25px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
