body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 7px;
  padding: 10px;
  background-color: grey;
  height: calc(1.5 * 400px);
  width: 400px;
}

#screen {
  display: flex;
  align-items: center;
  font-size: 50px;
  height: 70px;
  padding: 5px;
  background-color: rgb(235, 234, 234);
  border-radius: 10px;
}
.all-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.top-buttons {
  display: flex;
  gap: 5px;
}

.divide-buttons {
  display: flex;
  gap: 5px;
}

.multiply-buttons {
  display: flex;
  gap: 5px;
}

.subtract-buttons {
  display: flex;
  gap: 5px;
}

.add-buttons {
  display: flex;
  gap: 5px;
}

button {
  font-size: 30px;
  flex: 1;
  height: calc(30px * 3);
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  color: white;
  background-color: #525a5e;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

#decimal-point,
#equal,
.operator {
  background-color: #8c969c;
}
