body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  padding: 10px;
  background-color: grey;
  height: calc(1.5 * 400px);
  width:400px
}

#screen {
  height: 25px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
.all-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.top-buttons {
  display: flex;
  gap: 2px;
}

.divide-buttons {
  display: flex;
  gap: 2px;
}

.multiply-buttons {
  display: flex;
  gap: 2px;
}

.subtract-buttons {
  display: flex;
  gap: 2px;
}

.add-buttons {
  display: flex;
  gap: 2px;
}

button {
    border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  color: white;
  background-color: #525a5e;
  cursor: pointer;
}

#decimal-point, #equal, .operator {
    background-color: #8c969c;
}
